doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        
        title Museo
        link(rel="stylesheet" href="/css/normalize.css")
        link(rel="stylesheet" href="/css/app.css")
        link(rel="stylesheet" href="/css/app2.css")
    body
        header.header
            .contenedor.contenido-header
                h1 
                    a(href="/") Museo Indigenas 
                nav.navegacion-principal
                    a(href="#") Obras
                    a(href="#") nosotros
        section
            
            form.space-y-5(action="/buscando" method="GET")
                .contenedor.contenido-header
                    nav.navegacion-principal

                        div
                            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="nombre") Nombre
                            input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Nombre" type="text" name="nombre")
                        div 
                            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="region") Region
                            input#region.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Region" type="text" name="region")
                        
                        div 
                            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="departamento") Departamentos
                            select.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="departamento")
                                option(value="") -- Seleccione un departamento -- 
                                each depto in dataDepartamentos
                                    option(value=`${depto.departmentId}` name="departamento")= depto.nombre
                        div
                            input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 px-4 cursor-pointer" type="submit"  value="Buscar")

        section
            .contenedor
                if busquedaBoolean
                    h1 Resultados de búsqueda
                        if obrasEs.length > 0
                            ul
                                div.contenedor
                                    div.grid
                                        each obra in obrasEs
                                            div(class="card")
                                                img(class="imagen-obra" src=`${obra.primaryImageSmall}`)
                                                div(class="info-card")
                                                h4(class="info-card_title")= obra.titulo

        section
            div
                if paginaActual > 1
                    a(href=`/buscando?pagina=${paginaActual -1}`) Anterior
                span Pagina #{paginaActual} de #{totalPaginas}
                if paginaActual < totalPaginas
                    a(href=`/buscando?pagina=${paginaActual +1}`) Siguiente
    
    
    footer 
        .contenedor
            p.text-center Todos los derechos reservados